body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body * {
    font-family: "Work Sans", sans-serif;
}

.logo-head img {
    margin: 30px 70px;
}

.wrapper {
    position: relative;
    display: flex;
    height: 100vh;
    height: calc(100vh - 60px);
}

.count {
    position: absolute;
    top: 70%;
    right: 25%;
    background-color: #fff;
    padding-right: 10px;
    width: 100%;
    max-width: 455px;
    height: 100px;
}

.count p {
    display: inline;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: #059669;
}

.count p:first-child {
    font-size: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #047857;
    margin-right: 20px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(360deg, #059669 0%, #10b981 100%);
    height: 100px;
    width: 100%;
    max-width: 435px;
}

.timer span {
    font-size: 49px;
    font-weight: 600;
    color: #fff;
    margin-top: -30px;
}

.timer .word {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hour,
.min,
.sec {
    width: 50px;
    display: inline-block;
}

.word span:nth-child(even) {
    line-height: 140%;
    font-size: 14px;
    font-weight: 400;
    margin: -15px;
    margin-left: -10px;
}

.wrapper-info {
    flex: 1;
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper-info h1 {
    font-family: "Playfair display", sans-serif;
    font-size: 56px;
    font-weight: 900;
    color: #064e3b;
    line-height: 143%;
    letter-spacing: 0.02em;
}

.wrapper-info h1 span {
    color: #10b981;
}

.info-button {
    margin-top: 50px;
}

.wrapper-button {
    display: flex;
}

.become-a-member {
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(0deg, #059669 0%, #36dca5 100%);
    font-size: 18px;
    line-height: 140%;
    cursor: pointer;
    transition: background .5s;
}

.become-a-member:hover {
    background: linear-gradient(0deg, #36dca5 0%, #059669 100%);
}

.see-price {
    padding: 10px 20px;
    border: 1px solid #10b981;
    color: #10b981;
    margin-left: 10px;
    font-size: 18px;
    line-height: 140%;
    cursor: pointer;
}

.image-big-face {
    margin-top: -100px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    overflow: hidden;
}

.image-big-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
}

/* *******************ASSORTIMENT*************************** */

.container-fluid.ass,
.col-4.ass {
    padding: 0;
}

.assortiment-all {
    max-width: 1678px;
}

.assortiment {
    padding: 45px;
    background: linear-gradient(45deg, #059669 0%, #10b981 100%);
}

.what {
    font-family: "Playfair display", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #ecfdf5;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding-bottom: 40px;
    border-bottom: 2px dashed #fff;
}

.rp-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rp {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 140%;
    background-color: #047857;
    border-radius: 15px;
    padding: 5px;
}

.rp-wrap span {
    color: #fff;
}

.wrapper-img-ass img {
    width: 100%;
}

.select {
    margin-top: 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.select svg {
    margin-left: 0;
    transition: margin-left .3s;
}

.select:hover svg {
    margin-left: 5px;
}

.btn-more {
    color: #fff;
    background: linear-gradient(0deg, #059669 0%, #36dca5 100%);
    margin: 25px auto;
    text-align: center;
    width: 100%;
    max-width: 230px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn-more:hover {
    background: linear-gradient(0deg, #36dca5 0%, #059669 100%);
}

/* *******************SVG-BLOCK*************************** */

.svg-wrap {
    margin-top: -100px;
    margin-left: 100px;
    margin-bottom: -50px;
}

.btn-svg {
    cursor: pointer;
}

.title-svg {
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 20px;
}

/* *******************FOOTER*************************** */

footer {
    height: 200px;
}

.footer-wrap {
    display: flex;
    margin-left: 100px;
    gap: 10%;
    width: 100%;
    max-width: 1590px;
    margin-bottom: 100px;
}

.logo-footer {
    display: flex;
    flex-direction: column;
}

.logo-footer img {
    margin-bottom: 48px;
    width: 85%;
}

.year {
    color: #00b081;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.list {
    display: flex;
    gap: 100px;
}

.list h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #064e3b;
}

.list ul {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}

.list ul li {
    color: #068e6a;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 10px;
}

.list a {
    text-decoration: none;
}

.list a svg {
    margin-right: 10px;
}

.form {
    width: 400px;
}

.form h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #064e3b;
    margin-bottom: 45px;
}

.form input {
    border: none;
    border-bottom: 1px solid rgb(6, 142, 106);
    width: 80%;
}

.form input::placeholder {
    color: rgba(6, 142, 106, .2);
}

.input {
    position: relative;
}

.form input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(6, 142, 106);
}

.svg-form {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 80px;
    top: 5px;
    fill: rgb(6, 142, 106);
    transition: fill .1s linear;
    cursor: pointer;
}